name: Create or Label Mirror Issue
on:
  issues:
    types:
      - labeled

env:
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  TITLE_PREFIX: "[duckdb/#${{ github.event.issue.number }}]"

jobs:
  create_or_label_issue:
    if: github.event.label.name == 'reproduced' || github.event.label.name == 'under review'
    runs-on: ubuntu-latest
    steps:
      - name: Get mirror issue number
        run: |
          echo "MIRROR_ISSUE_NUMBER=$(gh issue list --repo lnkuiper/external --json title,number --jq '.[]|select(.title | startswith("$TITLE_PREFIX")).number')" >> $GITHUB_ENV

      - name: Set label environment variable
        run: |
          if [ ${{ github.event.label.name == 'reproduced' }}]; then
            echo "LABEL=needs label"
          else
            echo "LABEL=needs triage"
          fi

      - name: Create or label issue
        run: |
          if [ "$MIRROR_ISSUE_NUMBER" == "" ]; then
            gh issue create --repo lnkuiper/internal --label "$LABEL" --title "$TITLE_PREFIX ${{ github.event.issue.title }}" --body "See https://github.com/lnkuiper/external/issues/${{ github.event.issue.number }}"
          else
            gh issue edit --repo lnkuiper/internal $MIRROR_ISSUE_NUMBER --remove-label "needs label" --remove-label "needs triage" --add-label "$LABEL"
          fi
