name: Create or Label Mirror Issue
on:
  issues:
    types:
      - labeled

env:
  GH_TOKEN: ${{ secrets.MY_TOKEN }}
  TITLE_PREFIX: "[duckdb/#${{ github.event.issue.number }}]"

jobs:
  create_or_label_issue:
    if: github.event.label.name == 'reproduced' || github.event.label.name == 'under review'
    runs-on: ubuntu-latest
    steps:
      - name: Remove under review if reproduced
        if: github.event.label.name == 'reproduced'
        run: |
          gh issue edit --repo lnkuiper/external ${{ github.event.issue.number }} --remove-label "under review"

      - name: Remove reproduced if under review
        if: github.event.label.name == 'under review'
        run: |
          gh issue edit --repo lnkuiper/external ${{ github.event.issue.number }} --remove-label "reproduced"

      - name: Get mirror issue number
        run: |
          echo "MIRROR_ISSUE_NUMBER=$(gh issue list --repo lnkuiper/external --json title,number --jq '.[]|select(.title | startswith("$TITLE_PREFIX")).number')" >> $GITHUB_ENV

      - name: Print whether mirror issue exists
        run: |
          if [ "$MIRROR_ISSUE_NUMBER" = "" ]; then
            echo "Mirror issue does not exist yet"
          else
            echo "Mirror issue exists with number $MIRROR_ISSUE_NUMBER"
          fi

      - name: Set label environment variable
        run: |
          if [ ${{ github.event.label.name = 'reproduced' }} ]; then
            echo 'LABEL="needs label"' >> $GITHUB_ENV
          else
            echo 'LABEL="needs triage"' >> $GITHUB_ENV
          fi

      - name: Create or label issue
        run: |
          if [ "$MIRROR_ISSUE_NUMBER" = "" ]; then
            gh issue create --repo lnkuiper/internal --label "$LABEL" --title "$TITLE_PREFIX ${{ github.event.issue.title }}" --body "See https://github.com/lnkuiper/external/issues/${{ github.event.issue.number }}"
          else
            gh issue edit --repo lnkuiper/internal $MIRROR_ISSUE_NUMBER --remove-label "needs label" --remove-label "needs triage" --add-label "$LABEL"
          fi
